.App {
  text-align: center;
}
.Main-wrapper{
  padding-top: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700;900&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Navigate {
  background: black;
  color:whitesmoke;
  width: 100%;
  height: 3rem;
  display: flex;
  align-content: center;  
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.Logo {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bolder;
  font-size: larger;

}

.Menuwrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1rem;
}

.Nav-menu{
  width: fit-content;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.Nav-menu-mobile{
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: large; 
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Mainpage-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(246, 246, 246);
}

.Main-card{
  width: 80vw;
  height: 80vh;
  background-color: none;
  display: flex;
  justify-content: space-between;
  border: solid 0.01rem gray;
  border-radius: 5px;
  margin: 3rem;
  padding: 2rem;
  color:rgb(0, 0, 0);
  animation: smoothAppear 1300ms;

  
}

.Main-card-img-container{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}

.Main-card-img-container-mobile{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}

.Main-card-img{
  width: 20rem;
  height: 20rem;
  border: none;
  border-radius: 70%;
  object-fit: cover;
}

.Main-card-img-mobile{
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 70%;
  object-fit: cover;
}

.Main-card-content{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.Main-card-name{
  width: 100%;
  height: fit-content;
  text-align: left;
  color:rgb(0, 0, 0);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  border-bottom: solid 0.01rem ;
}

.Main-card-name-mobile{
  width: 100%;
  height: fit-content;
  text-align: left;
  margin: 1rem;
  color:rgb(0, 0, 0);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  border-bottom: solid 0.01rem ;
}

.Main-card-text{
  width: 100%;
  text-align: left;
  margin-top: 1rem;
}
.Main-card-text-mobile{
  width: 100%;
}
.Main-card-badge-wrapper{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}

.Main-card-badge-shelf{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Main-card-badge{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
}

.Badge-content{
  width: 70%;
  text-align: left;
}

.Badge-icon{
  font-size: xx-large;
}

.Badge-title{
  width: 100%;
  font-size:x-large;
  font-weight: 700;
  padding-left: 1rem;
}

.Badge-text{
  width: 100%;
  padding-left: 1rem;

}



.Card-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text-card{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #212529;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 3px 10px 10px 1px gray;
  text-align: left;
  white-space: pre-line;
  animation: smoothAppear 1300ms;
}

.Text-card-title{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.Text-card-text{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: normal;
  margin: 0.5rem;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}
.Footer-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Footer-icon-black {
  width: 3rem;
  height: 3rem;
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(31deg) brightness(108%) contrast(105%);
  margin: 1rem;
}

.Footer-icon-white {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.Footer-icon-rotate {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  animation: App-logo-spin infinite 5s linear;
}

.Footer-text {
  width:fit-content;
  margin: 0.5rem;
}