.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Navigate {
  background: black;
  color:whitesmoke;
  width: 100%;
  height: 3rem;
  display: flex;
  align-content: center;  
  justify-content: space-between;
}

.Logo {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bolder;
  font-size: larger;

}

.Menuwrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1rem;
}

.Nav-menu{
  width: fit-content;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.Nav-menu-mobile{
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: large; 
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}