.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Navigate {
  background: black;
  color:whitesmoke;
  width: 100%;
  height: 3rem;
  display: flex;
  align-content: center;  
  justify-content: space-between;
}

.Logo {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bolder;
  font-size: larger;

}

.Menuwrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1rem;
}

.Nav-menu{
  width: fit-content;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.Nav-menu-mobile{
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: large; 
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Card-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text-card{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 15px;
  box-shadow: 3px 10px 10px 1px gray;
  text-align: left;
  animation: smoothAppear 1300ms;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}
.Footer-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Footer-icon-black {
  width: 3rem;
  height: 3rem;
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(31deg) brightness(108%) contrast(105%);
  margin: 1rem;
}

.Footer-icon-white {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.Footer-text {
  width:fit-content;
  margin: 0.5rem;
}